$background-color: #edf3f8;
$background-color-alt: #fbfbfb;
$foreground-color: #a3a4a4;
$background-dark: #c5d0ed;
$background-darker: #292b34;
$text-color: #4f5151;
$text-color-light: #e7ecee;
$text-color-lighter: #ebf2f4;

$placeholder: #ededed;
$placeholder-alt: #e5e5e5;
$mobile: 767px;
$tablet: 1087px;
$navbar-height: 4rem;
